@import "call_to_action_base.css";

section[is=call-to-action-section].alternate-seven {
    gap: 30px
}

section[is=call-to-action-section].alternate-seven h2 {
    margin-bottom: 15px
}

section[is=call-to-action-section].alternate-seven h3 {
    display: none
}

section[is=call-to-action-section].alternate-seven p {
    font-size: var(--body-font-size-small);
    font-weight: 300
}

section[is=call-to-action-section].alternate-seven picture {
    width: 100%
}

section[is=call-to-action-section].alternate-seven picture img {
    width: 100%;
    aspect-ratio: 12/7
}

section[is=call-to-action-section].alternate-seven button {
    width: 100%
}

@media screen and (min-width: 992px) {
    section[is=call-to-action-section].alternate-seven {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: unset;
        column-gap: 5%
    }

    section[is=call-to-action-section].alternate-seven h2 {
        grid-column: 1/span 2;
        margin-bottom: 45px
    }

    section[is=call-to-action-section].alternate-seven h3 {
        display: block;
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 30px
    }

    section[is=call-to-action-section].alternate-seven p {
        grid-column: 2;
        grid-row: 3/span 2;
        margin-bottom: 30px
    }

    section[is=call-to-action-section].alternate-seven a {
        grid-column: 2;
        grid-row: 5
    }

    section[is=call-to-action-section].alternate-seven button {
        width: unset
    }

    section[is=call-to-action-section].alternate-seven picture:first-of-type {
        grid-column: 1;
        grid-row: 2/span 2
    }

    section[is=call-to-action-section].alternate-seven picture:nth-of-type(even) {
        grid-column: 1;
        grid-row: 4/span 2;
        align-self: end;
        display: grid;
        align-items: end
    }
}

section[is=call-to-action-section].alternate-seven picture:first-of-type source.desktop {
    max-width: 622px;
    max-height: 362px
}

section[is=call-to-action-section].alternate-seven picture:last-of-type source.desktop {
    max-width: 622px;
    max-height: 362px
}

section[is=call-to-action-section].alternate-seven picture:first-of-type source.laptop {
    max-width: 602px;
    max-height: 351px
}

section[is=call-to-action-section].alternate-seven picture:last-of-type source.laptop {
    max-width: 602px;
    max-height: 351px
}

section[is=call-to-action-section].alternate-seven picture:first-of-type source.notebook {
    max-width: 507px;
    max-height: 296px
}

section[is=call-to-action-section].alternate-seven picture:last-of-type source.notebook {
    max-width: 507px;
    max-height: 296px
}

section[is=call-to-action-section].alternate-seven picture:first-of-type source.tablet {
    max-width: 861px;
    max-height: 502px
}

section[is=call-to-action-section].alternate-seven picture:last-of-type source.tablet {
    max-width: 861px;
    max-height: 502px
}

section[is=call-to-action-section].alternate-seven picture:first-of-type source.phone {
    max-width: 707px;
    max-height: 412px
}

section[is=call-to-action-section].alternate-seven picture:last-of-type source.phone {
    max-width: 707px;
    max-height: 412px
}

section[is=call-to-action-section].alternate-seven picture:first-of-type source.x-small {
    max-width: 515px;
    max-height: 300px
}

section[is=call-to-action-section].alternate-seven picture:last-of-type source.x-small {
    max-width: 515px;
    max-height: 300px
}