@import "embed_base.css";

section[is=embed-section].alternate-one {
    display: grid;
    justify-items: center
}

section[is=embed-section].alternate-one h2 {
    grid-row: 1
}

section[is=embed-section].alternate-one div[is=editable-iframe] {
    grid-row: 3
}

section[is=embed-section].alternate-one p {
    grid-row: 2
}