section[is=footer-section] {
    background-color: var(--color-two);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center
}

section[is=footer-section]>picture {
    flex: 0 0 100%;
    display: grid;
    justify-items: center
}

section[is=footer-section]>picture source {
    max-width: 150px
}

section[is=footer-section]>picture img {
    width: 150px;
    object-fit: contain;
    aspect-ratio: unset
}

section[is=footer-section]>p {
    flex: 0 0 100%;
    text-align: center
}

section[is=footer-section]>ul {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

section[is=footer-section]>div {
    flex: 0 0 20px;
    text-align: center;
    cursor: pointer;
    color: var(--color-four)
}

section[is=footer-section] dialog {
    position: fixed;
    width: 90%;
    border: none;
    outline: none;
    margin: auto;
    padding: 30px 15px 10px 15px;
    box-sizing: border-box;
    background-color: var(--color-four);
    color: var(--color-one)
}

section[is=footer-section] dialog h2 {
    color: var(--color-one)
}

section[is=footer-section] dialog p {
    margin: auto;
    width: 90%;
    color: var(--color-one);
    text-align: start
}

section[is=footer-section] dialog a {
    color: var(--color-one)
}

section[is=footer-section] dialog button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: var(--color-one)
}

section[is=footer-section] div[is=image-attribution-set] dialog li {
    display: flex;
    flex-direction: column
}

section[is=footer-section] ul {
    min-height: 100px;
    min-width: 100px
}

@media (prefers-color-scheme: dark) {
    section[is=footer-section] dialog {
        background-color: var(--color-one);
        color: var(--color-four)
    }

    section[is=footer-section] dialog h2,
    section[is=footer-section] dialog a,
    section[is=footer-section] dialog p {
        color: var(--color-four)
    }

    section[is=footer-section] dialog button {
        color: var(--color-four)
    }
}

@media screen and (min-width: 992px) {
    section[is=footer-section] {
        gap: 20px;
        display: grid
    }

    section[is=footer-section] dialog {
        padding: 60px 90px
    }

    section[is=footer-section] dialog button {
        top: 25px;
        right: 25px
    }

    section[is=footer-section]>picture {
        grid-column: 1/span 4;
        grid-row: 1
    }

    section[is=footer-section]>picture source {
        max-width: 150px
    }

    section[is=footer-section]>picture img {
        grid-row: 1;
        width: 150px;
        object-fit: contain;
        aspect-ratio: unset
    }

    section[is=footer-section]>p {
        grid-row: 2;
        grid-column: 1/span 4
    }

    section[is=footer-section]>ul {
        grid-row: 3;
        grid-column: 1/span 4;
        justify-content: center
    }

    section[is=footer-section]>div {
        grid-row: 4
    }

    section[is=footer-section] div[is=image-attribution-set] dialog li {
        display: grid;
        grid-template-columns: 300px 1fr
    }

    section[is=footer-section] div[is=image-attribution-set] dialog li a {
        color: var(--color-one)
    }

    section[is=footer-section] div[is=image-attribution-set] dialog li p {
        text-align: start
    }
}

section[is=footer-section] a[data-link-type=facebook] {
    background: url(/cdn/assets/facebook.svg)
}

section[is=footer-section] a[data-link-type=twitter] {
    background: url(/cdn/assets/twitter.svg)
}

section[is=footer-section] a[data-link-type=x] {
    background: url(/cdn/assets/x.svg)
}

section[is=footer-section] a[data-link-type=discord] {
    background: url(/cdn/assets/discord.svg)
}

section[is=footer-section] a[data-link-type=linkedin] {
    background: url(/cdn/assets/linkedin.svg)
}

section[is=footer-section] a[data-link-type=pinterest] {
    background: url(/cdn/assets/pinterest.svg)
}

section[is=footer-section] a[data-link-type=tiktok] {
    background: url(/cdn/assets/tiktok.svg)
}

section[is=footer-section] a[data-link-type=instagram] {
    background: url(/cdn/assets/insta.svg)
}

section[is=footer-section] a[data-link-type=github] {
    background: url(/cdn/assets/github.svg)
}

section[is=footer-section] a[data-link-type=threads] {
    background: url(/cdn/assets/threads.svg)
}

section[is=footer-section] a[data-link-type=youtube] {
    background: url(/cdn/assets/youtube.svg)
}

section[is=footer-section] a[data-link-type] {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain
}