@import "gallery_base.css";

section[is=gallery-section].alternate-one>button.show-all {
    display: none
}

section[is=gallery-section].alternate-one button {
    background: none
}

section[is=gallery-section].alternate-one img {
    width: unset;
    aspect-ratio: unset
}

section[is=gallery-section].alternate-one svg {
    height: 50px
}

section[is=gallery-section].alternate-one svg path {
    fill: var(--color-two)
}

@media screen and (max-width: 768px) {

    section[is=gallery-section].alternate-one .previous-button,
    section[is=gallery-section].alternate-one .next-button {
        display: none
    }

    section[is=gallery-section].alternate-one ul {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        width: 100%;
        max-width: 100%;
        scrollbar-width: none;
        gap: 10px
    }

    section[is=gallery-section].alternate-one ul ::-webkit-scrollbar {
        display: none
    }

    section[is=gallery-section].alternate-one ul li {
        flex: 0 0 90%;
        scroll-snap-align: center;
        row-gap: 20px
    }

    section[is=gallery-section].alternate-one ul li:first-of-type {
        flex: 0 0 100%
    }

    section[is=gallery-section].alternate-one ul li:last-of-type {
        flex: 0 0 100%
    }

    section[is=gallery-section].alternate-one ul li img {
        border-radius: var(--normal-border-radius);
        width: 100%
    }

    section[is=gallery-section].alternate-one ul li:first-of-type {
        flex: 0 0 90%;
        margin-left: 5%
    }

    section[is=gallery-section].alternate-one ul li:last-of-type {
        flex: 0 0 90%;
        margin-right: 5%
    }
}

@media screen and (min-width: 768px) {
    section[is=gallery-section].alternate-one .previous-button {
        position: absolute;
        bottom: 31%;
        left: var(--narrow-padding-left);
        z-index: 10
    }

    section[is=gallery-section].alternate-one .next-button {
        position: absolute;
        bottom: 31%;
        right: var(--narrow-padding-right);
        z-index: 10
    }

    section[is=gallery-section].alternate-one ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        column-gap: 20px
    }

    section[is=gallery-section].alternate-one ul li {
        display: none;
        grid-row: 1;
        justify-content: center
    }

    section[is=gallery-section].alternate-one ul img {
        border-radius: var(--normal-border-radius);
        height: 100%;
        object-fit: contain
    }

    section[is=gallery-section].alternate-one ul .previous,
    section[is=gallery-section].alternate-one ul .next {
        display: grid;
        opacity: 0.8;
        transform: scale(80%)
    }

    section[is=gallery-section].alternate-one ul .previous {
        grid-column: 1
    }

    section[is=gallery-section].alternate-one ul .focus {
        display: grid;
        grid-column: 2
    }

    section[is=gallery-section].alternate-one ul .next {
        grid-column: 3
    }
}

section[is=gallery-section].alternate-one source.desktop {
    max-width: 365px
}

section[is=gallery-section].alternate-one source.laptop {
    max-width: 365px
}

section[is=gallery-section].alternate-one source.notebook {
    max-width: 365px
}

section[is=gallery-section].alternate-one source.tablet {
    max-width: 365px
}

section[is=gallery-section].alternate-one source.phone {
    max-width: 636px
}

section[is=gallery-section].alternate-one source.x-small {
    max-width: 463px
}

section[is=gallery-section].alternate-one img {
    max-width: 365px
}