@import "testimonials_base.css";

section[is=testimonials-section].alternate-one ul {
    margin-top: 30px
}

section[is=testimonials-section].alternate-one li.testimonials-content {
    list-style-type: none;
    background-color: var(--color-two);
    border-radius: var(--normal-border-radius);
    padding: 0 20px 25px 20px;
    max-width: 486px
}

section[is=testimonials-section].alternate-one blockquote.testimonial-text {
    font-size: var(--body-font-size-small);
    font-weight: var(--body-font-weight-small);
    color: var(--color-four);
    margin-top: -25px
}

section[is=testimonials-section].alternate-one figcaption.testimonial-attribution {
    text-align: center;
    font-size: var(--body-font-size-small);
    font-weight: 700;
    padding: 20px
}

section[is=testimonials-section].alternate-one ul object {
    width: 100px;
    justify-self: center
}

section[is=testimonials-section].alternate-one svg {
    justify-self: center;
    width: 100px
}

section[is=testimonials-section].alternate-one svg path {
    fill: var(--color-three)
}

section[is=testimonials-section].alternate-one button {
    grid-row: 3;
    margin: 50px 15px 0 15px
}

section[is=testimonials-section].alternate-one button>object {
    width: 100%;
    height: 100%
}

section[is=testimonials-section].alternate-one button>svg {
    width: 100%;
    height: 100%
}

section[is=testimonials-section].alternate-one button>svg path {
    fill: var(--color-three);
    stroke: var(--color-three)
}

section[is=testimonials-section].alternate-one .previous-button {
    justify-self: start
}

section[is=testimonials-section].alternate-one .next-button {
    justify-self: end
}

section[is=testimonials-section].alternate-one .testimonials-attribution-picture {
    justify-self: center;
    transform: translatey(-50%);
    display: block;
    margin: auto;
    width: 100px;
    aspect-ratio: 1/1;
    padding: 0
}

section[is=testimonials-section].alternate-one .testimonials-attribution-picture img {
    border: solid 4px var(--color-one);
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1
}

@media (prefers-color-scheme: dark) {
    section[is=testimonials-section].alternate-one li.testimonials-content {
        background-color: var(--color-three)
    }

    section[is=testimonials-section].alternate-one blockquote.testimonial-text {
        color: var(--color-one)
    }

    section[is=testimonials-section].alternate-one svg path {
        fill: var(--color-two)
    }

    section[is=testimonials-section].alternate-one button>svg path {
        fill: var(--color-four);
        stroke: var(--color-four)
    }
}

@media screen and (min-width: 992px) {
    section[is=testimonials-section].alternate-one ul.testimonials {
        grid-row: 2;
        grid-column: 2;
        display: grid
    }

    section[is=testimonials-section].alternate-one li.testimonials-content {
        display: none;
        grid-column: 1;
        grid-row: 1
    }

    section[is=testimonials-section].alternate-one li.testimonials-content.previous {
        display: grid;
        opacity: 60%;
        transform: scale(0.65) translatex(-70%);
        z-index: 1
    }

    section[is=testimonials-section].alternate-one li.testimonials-content.focus {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        z-index: 2
    }

    section[is=testimonials-section].alternate-one li.testimonials-content.next {
        display: grid;
        opacity: 60%;
        transform: scale(0.65) translatex(70%);
        z-index: 1
    }

    section[is=testimonials-section].alternate-one h2 {
        grid-column: 1/span 3
    }

    section[is=testimonials-section].alternate-one button {
        grid-row: 2;
        margin: unset;
        align-self: center
    }

    section[is=testimonials-section].alternate-one .previous-button {
        grid-column: 1;
        justify-self: center
    }

    section[is=testimonials-section].alternate-one .next-button {
        grid-column: 3;
        justify-self: center
    }

    section[is=testimonials-section].alternate-one .testimonials-attribution-picture {
        width: 146px
    }
}

section[is=testimonials-section].alternate-one source.desktop {
    max-width: 154px;
    max-height: 154px
}

section[is=testimonials-section].alternate-one source.laptop {
    max-width: 154px;
    max-height: 154px
}

section[is=testimonials-section].alternate-one source.notebook {
    max-width: 154px;
    max-height: 154px
}

section[is=testimonials-section].alternate-one source.tablet {
    max-width: 108px;
    max-height: 108px
}

section[is=testimonials-section].alternate-one source.phone {
    max-width: 108px;
    max-height: 108px
}

section[is=testimonials-section].alternate-one source.x-small {
    max-width: 108px;
    max-height: 108px
}