@use "base";

section[is="at-a-glance-section"] { // startfold
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  picture {
    margin: auto;
    width: 33%;
    img {
        width: 100%;
        aspect-ratio: 1/1;
    }
  }
  h3 {
    text-align: center;
    color: var(--color-three);
    font-size: var(--header-font-size-small);
  }

  @media screen and (min-width: base.$tablet) {
    ul {
      flex-direction: row;
    }
    li {
      flex: 0 0 33%;
    }
    picture {
      width: 75%;
      margin-bottom: 20px;
    }
    h3 {
      font-size: var(--header-font-size-medium);
    }
  }
} // endfold
section[is="at-a-glance-section"].default { // startfold
  img {
    border-radius: 50%;
  }
  source.desktop {
    max-width: 324px;
    max-height: 324px;
  }
  source.laptop {
    max-width: 314px;
    max-height: 314px;
  }
  source.notebook {
    max-width: 265px;
    max-height: 265px;
  }
  source.tablet {
    max-width: 213px;
    max-height: 213px;
  }
  source.phone {
    max-width: 233px;
    max-height: 233px;
  }
  source.x-small {
    max-width: 169px;
    max-height: 169px;
  }
} // endfold
section[is="at-a-glance-section"].alternate-one { // startfold
  img {
    border-radius: var(--normal-border-radius);
  }
} // endfold
section[is="at-a-glance-section"].alternate-two { // startfold
  li {
    background-color: var(--brand-color);
    border-radius: var(--normal-border-radius);
    padding: 30px;
    width: 65%;
    justify-content: space-around;
  }
  picture {
    width: 65%;
    margin-bottom: 15px;
  }
  img {
    border-radius: 50%;
  }
  h3 {
    color: var(--color-four);
  }
  @media screen and (min-width: base.$tablet) {
    li {
      padding: 30px 15px;
    }
  }
  source.desktop {
    max-width: 280px;
    max-height: 280px;
  }
  source.laptop {
    max-width: 272px;
    max-height: 272px;
  }
  source.notebook {
    max-width: 229px;
    max-height: 229px;
  }
  source.tablet {
    max-width: 184px;
    max-height: 184px;
  }
  source.phone {
    max-width: 300px;
    max-height: 300px;
  }
  source.x-small {
    max-width: 217px;
    max-height: 217px;
  }
} // endfold
