@use "base";

section[is="at-a-glance-section"] {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  picture {
    margin: auto;
    width: 33%;
  }
  h3 {
    text-align: center;
    color: var(--color-three);
    font-size: var(--header-font-size-small);
  }

  @media screen and (min-width: base.$tablet) {
    ul {
      flex-direction: row;
    }
    picture {
      width: 75%;
      margin-bottom: 20px;
    }
    h3 {
      font-size: var(--header-font-size-medium);
    }
  }
}

section[is="at-a-glance-section"].default {
  img {
    border-radius: 50%;
  }
}

section[is="at-a-glance-section"].alternate-one {
  img {
    border-radius: var(--normal-border-radius);
  }
}

section[is="at-a-glance-section"].alternate-two {
  li {
    background-color: var(--color-two);
    border-radius: var(--normal-border-radius);
    padding: 30px;
    width: 65%;
    justify-content: space-around;
  }
  picture {
    width: 65%;
    margin-bottom: 15px;
  }
  img {
    border-radius: 50%;
  }
  h3 {
    color: var(--color-four);
  }
  @media screen and (min-width: base.$tablet) {
    li {
      padding: 30px 15px;
    }
  }
}
