// we're using bootstrap breakpoints for everything:
$s-phone: 576px;
$phone: 576px;
$tablet: 768px;
$notebook: 992px;
$laptop: 1200px;
$desktop: 1400px;
$cdn-base-url: "http://my.localhost/cdn";

:root {
  --normal-border-radius: 12px;
  --small-border-radius: 7px;

  --section-margin-bottom: 45px;
  --color-one: var(--palette-color-one);
  --color-two: var(--palette-color-two);
  --color-three: var(--palette-color-three);
  --color-four: var(--palette-color-four);
  --brand-color: var(--palette-brand-color);
  --brand-contrast-color: var(--palette-brand-contrast-color);

  // Padding Settings
  --narrow-padding-side: 15px;
  --narrow-padding-right: var(--narrow-padding-side);
  --narrow-padding-left: var(--narrow-padding-side);
  --narrow-padding-top: 60px;
  --narrow-padding-bottom: 60px;
  --narrow-padding: var(--narrow-padding-top) var(--narrow-padding-right) var(--narrow-padding-bottom) var(--narrow-padding-left);

  --standard-padding-side: 30px;
  --standard-padding-right: var(--standard-padding-side);
  --standard-padding-left: var(--standard-padding-side);
  --standard-padding-top: 60px;
  --standard-padding-bottom: 60px;
  --standard-padding: var(--standard-padding-top) var(--standard-padding-right) var(--standard-padding-bottom) var(--standard-padding-left);

  --alt-button-padding: 12px 50px;
}
@media screen and (min-width: $desktop) {
  :root {
    // Using padding to center sections instead of width+margin:auto.
    // This allows us to use background-color properties with full screen width.
    --standard-padding-right: calc(calc(50vw - 720px) + var(--standard-padding-side));
    --standard-padding-left: calc(calc(50vw - 720px) + var(--standard-padding-side));

    --narrow-padding-left: calc(calc(50vw - 720px) + var(--narrow-padding-side));
    --narrow-padding-right: calc(calc(50vw - 720px) + var(--narrow-padding-side));
  }
}

@media screen and (min-width: $tablet) {
  :root {
    --section-margin-bottom: 80px;
    --standard-padding-side: 65px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-one: var(--palette-color-four);
    --color-two: var(--palette-color-three);
    --color-three: var(--palette-color-two);
    --color-four: var(--palette-color-one);
  }
}

* {
    position: relative;
    margin: 0;
    padding: 0;
}
html, body {
  background-color: var(--color-one);
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
}

p, blockquote, label, figcaption, a, li {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-medium);
  font-weight: var(--body-font-weight-medium);
  color: var(--color-four);
}

button {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-small);
  font-weight: var(--body-font-weight-small);
  text-align: center;
  padding: 12px 25px;
  border: 20px;
  outline: 20px;
  border-radius: 12px;
  cursor: pointer;
  color: var(--brand-contrast-color);
  background-color: var(--brand-color);
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

dialog {
    position: fixed;
    margin: auto;
}

dialog img {
    width: 150px;
}

li {
  list-style: none;
}

/* sections layout settings startfold */
section {
  max-width: 100%;
  padding: var(--standard-padding);
  margin: auto;
}

/* endfold */

@mixin carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  max-width: 100%;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}
@mixin carousel-item {
    flex: 0 0 90%;
    scroll-snap-align: center;
    row-gap: 20px;

    &:first-of-type {
      flex: 0 0 100%;
    }
    &:last-of-type {
      flex: 0 0 100%;
    }
}

/* typography settings startfold */
h1, .page-title {
    font-weight: var(--header-font-weight-x-large);
    font-size: var(--header-font-size-x-large);
}
@mixin section-heading {
    font-weight: var(--header-font-weight-large);
    font-size: var(--header-font-size-large);
    text-align: center;
    margin-bottom: var(--section-margin-bottom);
    color: var(--color-four);
}
h2 {
  @include section-heading;
}

@mixin subsection-heading {
  font-weight: 500;
}

.callout-text {
    font-weight: var(--body-font-weight-medium);
    font-size: var(--body-font-size-medium);
}
.testimonial-text {
  font-size: var(--body-font-size-small);
  font-weight: var(--body-font-weight-medium);
  text-align: center;
}
@mixin alternate-paragraph {
  font-size: var(--body-font-size-small);
  font-weight: var(--body-font-weight-small);
  color: var(--color-four);
}
@mixin enlarged-text {
  font-size: var(--body-font-size-x-large);
  font-weight: var(--body-font-weight-x-large);
}
@mixin form-label {
  font-size: var(--body-font-size-small);
  font-weight: var(--body-font-weight-medium);
  text-align: left;
}
@mixin flex-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media (width >= 992px) {
  h1, .page-title {
    font-weight: var(--header-font-weight-x-large);
    font-size: var(--header-font-size-x-large);
  }
  h2, .page-subtitle {
    font-weight: var(--header-font-weight-large);
    font-size: var(--header-font-size-large);
  }
  .callout-text {
    font-weight: var(--body-font-weight-large);
    font-size: var(--body-font-size-medium);
  }
}
/* endfold */
.hidden {
  display: none !important;
}

.contact-success {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

