@use 'base';

section[is="faqs-section"] {
  background-color: var(--color-one);
  ul.faqs {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;

    li.faq-list-item {
      width: 100%;

      details.faq-container {

        summary.question::-webkit-details-marker { display: none; }
        summary.question {
          padding: 8px 10px;
          list-style: none;
          border: solid var(--brand-color) 1px;
          border-radius: var(--small-border-radius);

          h3.question-text {
            font-size: calc(var(--header-font-size-small) * .8);
            font-weight: 600;
            font-family: var(--body-font-family);
          }
        }

        p.answer {
          padding: 10px 8px;
          @include base.alternate-paragraph;
        }
      }
    }
    li:hover {
        cursor: pointer;
    }
  }
  @media screen and (min-width: base.$laptop) {
    ul.faqs {
      width: 65%;
      margin: auto;
    }
  }
}

section[is="faqs-section"].default h3.question-text{
  color: var(--color-three);
}

section[is="faqs-section"].alternate summary.question {
  background-color: var(--brand-color);
}
section[is="faqs-section"].alternate h3.question-text {
  color: var(--brand-contrast-color);
}
