@use "base";

section[is="footer-section"] {
  background-color: var(--color-two);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;

  > picture {
    flex: 0 0 100%;
    display: grid;
    justify-items: center;
    source {
        max-width: 150px;
    }
    img {
      width: 150px;
      object-fit: contain;
      aspect-ratio: unset;
    }
  }
  > p {
    flex: 0 0 100%;
    text-align: center;
  }
  > ul {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
  }
  > div {
    flex: 0 0 150px;
    text-align: center;
    cursor: pointer;
  }

  dialog {
    position: fixed;
    width: 90%;
    border: none;
    outline: none;
    margin: auto;
    padding: 30px 15px 10px 15px;
    box-sizing: border-box;
    background-color: var(--color-four);
    color: var(--color-one);

    h2 {
      color: var(--color-one);
    }
    p {
      margin: auto;
      width: 90%;
      color: var(--color-one);
      text-align: start;
    }
    a {
      color: var(--color-one);
    }
    button {
      position: absolute;
      top: 0px;
      right: 0px;
      background: none;
      color: var(--color-one);
    }
  }
  div[is="image-attribution-set"] dialog {
    li {
      display: flex;
      flex-direction: column;
    }
  }
  ul {
    min-height: 100px;
    min-width: 100px;
  }

  @media (prefers-color-scheme: dark) {
    dialog {
        h2, a, p {
            color: var(--color-four);
        }
        background-color: var(--color-one);
        color: var(--color-four);
    }
    button {
        color: var(--color-four);
    }
  }
  @media screen and (min-width: base.$notebook) {
    display: grid;

    gap: 20px;
    dialog {
        padding: 60px 90px;
        button {
            top: 25px;
            right: 25px;
        }
    }
    > picture {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
      justify-items: start;

      source {
          max-width: 150px;
      }
      img {
        grid-row: 1;
        width: 150px;
        object-fit: contain;
        aspect-ratio: unset;
      }
    }
    > p {
      grid-row: 1;
      grid-column: 3 / span 4;
    }
    > ul {
      grid-row: 2;
      grid-column: 3 / span 4;
    }
    > div {
      grid-row: 3;
    }
    div[is="image-attribution-set"] dialog {
      li {
        display: grid;
        grid-template-columns: 300px 1fr;
        a {
          color: var(--color-one);
        }
        p {
          text-align: start;
        }
      }
    }
  }
}

section[is="footer-section"].default {
}
