@use "base";

section[is="footer-section"] {
  background-color: var(--color-two);
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  > picture {
    grid-column: 1;
    width: 100%;
    source {
        max-width: 150px;
    }
    img {
      width: 150px;
      object-fit: contain;
      aspect-ratio: unset;
    }
  }
  > a {
    grid-row: 3;
    cursor: pointer;
  }
  > ul {
    grid-row: 2;
    grid-column: 1 / span 3;
  }

  dialog {
    position: fixed;
    width: 90%;
    border: none;
    outline: none;
    margin: auto;
    padding: 30px 15px 10px 15px;
    box-sizing: border-box;
    background-color: var(--color-four);
    color: var(--color-one);

    h2 {
      color: var(--color-one);
    }
    p {
      margin: auto;
      width: 90%;
    }
    button {
      position: absolute;
      top: 0px;
      right: 0px;
      background: none;
    }
  }
  @media (prefers-color-scheme: dark) {
    dialog {
        h2 {
            color: var(--color-four);
        }
        background-color: var(--color-one);
        color: var(--color-four);
    }
    button {
        color: var(--color-four);
    }
  }
  @media screen and (min-width: base.$tablet) {
    gap: 20px;
    dialog {
        padding: 60px 90px;
        button {
            top: 25px;
            right: 25px;
        }
    }
    > picture {
      grid-column: 1 / span 2;
    }
    > a {
      grid-row: 2;
    }
    > ul {
      grid-row: 1;
      grid-column: 5;
      justify-self: end;
    }
  }
}

section[is="footer-section"].default {
}
