@use "base";
/* Questions:
- border-radius on buttons doesn't match. I'm assuming go with 12px?
- pardon me, one more time. I'm writing it down this time: Which of these are grayscale? None, and all are just "low opacity with background color"?
- there is a strange case where the h1 is smaller than h2 on tablet size bc the tablet switches sizes earlier. Talk throught this.
- alternate-three:
- need overlay for the "bubble" thing.
*/

section[is='hero-section'] { /* startfold */
    display: grid;
    min-height: 100vh;
    height: fit-content;
    padding: 0;
    > * {
      color: var(--color-one);
    }
    > div > * {
      color: var(--color-one);
    }
    h1, h2, p {
        max-width: min(1200px, 100vw);
        overflow-wrap: anywhere;
    }
    h2 {
        font-family: var(--body-font-family);
    }

    picture {
        height: 100%;
        img {
            max-height: 100%;
        }
    }
    a button {
        color: var(--brand-contrast-color);
    }
    @media (prefers-color-scheme: dark) {
        * {
          color: var(--color-four);
        }
    }
    source.desktop {
      max-width: 1920px;
    }
    source.laptop {
      max-width: 1200px;
    }
    source.notebook {
      max-width: 992px;
    }
    source.tablet {
      max-width: 768px;
    }
    source.phone {
      max-width: 576px;
    }
    source.x-small {
      max-width: 576px;
    }
}

section[is='hero-section'] picture {
    grid-row: 1 / -1;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--dark-color-one);
}

section[is='hero-section'] picture img {
    z-index: 1;
    height: 100%;
    width: 100%;
} /* endfold */
section[is='hero-section'].default { /* startfold */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
}

section[is='hero-section'].default > * {
    z-index: 10;
    grid-column: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--dark-color-four);
}

section[is='hero-section'].default h1 {
    grid-row: 1;
    align-self: end;
}

section[is='hero-section'].default h2 {
    grid-row: 2;
    margin-bottom: 0;
}

section[is='hero-section'].default p {
    grid-row: 3;
}

section[is='hero-section'].default a {
    grid-row: 4;
}

section[is='hero-section'].default picture {
    z-index: 1;
    position: absolute;
    height: 100%;
    align-self: start;
    padding: 0;
}
section[is='hero-section'].default picture img {
    z-index: 1;
    opacity: 65%;
    filter: brightness(75%);
}

/* endfold */
section[is='hero-section'].alternate-one { /* startfold */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: start;
    align-items: center;

  > * {
    z-index: 10;
    grid-column: 1;
    text-align: start;
    padding: 20px 25px;
    color: var(--dark-color-four);
  }
  h1 {
    align-self: end;
    grid-row: 1;
    padding-top: 50px;
  }
  h2 {
    grid-row: 2;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  p {
    grid-row: 3;
  }
  a {
    grid-row: 4;
    align-self: end;
    padding-bottom: 50px;
  }
  picture {
    z-index: 1;
    position: absolute;
    height: 100%;
    padding: 0;

    img {
      z-index: 1;
      opacity: 65%;
      filter: brightness(75%);
    }
  }

  @media screen and (min-width: base.$phone) {
    > * {
        padding: 20px 50px;
    }
  }
  @media screen and (min-width: base.$notebook) {
    > * {
      padding-left: 100px;
    }
  }
}
/* endfold */
section[is='hero-section'].alternate-two { /* startfold */
    background-color: var(--color-four);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    justify-items: end;
    align-items: start;
    overflow: hidden;

  > * {
    z-index: 10;
    grid-column: 2;
    text-align: end;
    box-sizing: border-box;
    color: var(--dark-color-four);
  }
  h1 {
    grid-row: 1;
    padding-top: 50px;
  }
  h2 {
    grid-row: 2;
  }
  p {
    display: none;
  }
  a {
    grid-row: 3;
  }
  picture {
    justify-self: start;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    position: absolute;

    img {
      z-index: 1;
    }
  }
  picture::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, transparent 50%, var(--dark-color-one) 50%);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }

  a {
    justify-self: center;
  }

  @media screen and (min-width: base.$notebook) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    align-items: center;


    > * {
      padding-left: 100px;
    }
    h1 {
        align-self: end;
    }

    picture {
        grid-column: 1 / span 2;
        grid-row: 1 / span 4;
        width: 100%;
    }
    picture::after {
      background: linear-gradient(37.5deg, transparent 50%, var(--dark-color-one) 50%);
    }
    a {
        align-self: start;
        justify-self: unset;
    }
  }
}
/* endfold */
section[is='hero-section'].alternate-three { /* startfold */
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--dark-color-one);
    height: fit-content;

  > * {
    z-index: 10;
    grid-column: 1;
    text-align: center;
    padding: 10px 25px;
    color: var(--dark-color-four);
  }
  h1 {
    align-self: end;
    grid-row: 1;
    margin-top: 25px;
  }
  h2 {
    grid-row: 2;
    margin-bottom: 0;
  }
  p {
    grid-row: 3;
  }
  a {
    grid-row: 4;
    align-self: end;
    padding-bottom: 50px;
    margin-top: 25px;
  }
  picture {
    grid-row: 5;
    z-index: 1;
    padding-left: 0;
    height: unset;
    aspect-ratio: 1 / 1;
    padding: unset;

    img {
      z-index: 1;
    }
  }

  @media screen and (min-width: base.$notebook) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    justify-items: start;

    > * {
        grid-column: 1;
        padding-left: 50px;
        text-align: start;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
      grid-row: 3;
    }
    a {
      grid-row: 4;
      align-self: center;
      margin: unset;
      padding-top: 0;
    }
    picture {
      grid-row: 1 / span 4;
      grid-column: 2;
      height: 100%;
      width: 100%;
      aspect-ratio: unset;
      position: absolute;

      img {
      }
    }
  }
  source.desktop {
    max-width: 960px;
  }
  source.laptop {
    max-width: 600px;
  }
  source.notebook {
    max-width: 496px;
  }
}
/* endfold */
section[is='hero-section'].alternate-four { /* startfold */
  h1, h2, p, a, button {
    display: none;
  }
  picture img {
    height: 100vh;
    width: 100vw;
  }
} /* endfold */
section[is='hero-section'].alternate-five { /* startfold */
  h2, p, a, button {
    display: none;
    color: var(--dark-color-four);
  }
  h1 {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    padding: 30px 5px; 
    color: var(--dark-color-four);
  }
  picture {
    grid-row: 1;
    grid-column: 1;
    img {

      height: 100vh;
      width: 100vw;
      opacity: 65%;
      filter: brightness(75%);
    }
  }
  @media screen and (min-width: base.$notebook) {
    h1 {
      padding: 50px 100px;
    }
  }

} /* endfold */
section[is='hero-section'].alternate-six { /* startfold */
    display: grid;
    justify-items: center;
    padding-bottom: 40px;

    > * {
        padding: 0 var(--narrow-padding-left);
        color: var(--color-four);
        text-align: center;
    }

    h1 {
      padding-top: 10vh;
      grid-row: 1;
      grid-column: 1;
      z-index: 2;
      color: var(--dark-color-four);
    }

    picture {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 60vh;
        padding-left: 0;
        padding-right: 0;
    }
    img {
      opacity: 65%;
      filter: brightness(75%);
    }
    h2 {
      margin: 40px 0 0 0;
      grid-row: 2;
    }
    p {
      margin: 20px 0;
      grid-row: 3;
    }
    a {
      grid-row: 4;
    }

    @media screen and (min-width: base.$notebook) {
        justify-items: start;
        > * {
            text-align: unset;
        }

        h1 {
            padding-top: 20vh;
        }
    }
} /* endfold */
section[is='hero-section'].alternate-seven { /* startfold */
    display: grid;
    justify-items: center;
    padding-bottom: 40px;

    > * {
        padding: 0 var(--narrow-padding-left);
        color: var(--color-four);
        text-align: center;
    }

    h1 {
      margin-top: 40px;
      grid-row: 2;
      grid-column: 1;
      font-size: var(--header-font-size-large);
    }
    h2 {
        display: none;
    }

    picture {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 70vh;
        padding-left: 0;
        padding-right: 0;
    }
    p {
      margin: 20px 0;
      grid-row: 3;
    }
    a {
      display: none;
    }

    @media screen and (min-width: base.$notebook) {
    }
} /* endfold */
section[is='hero-section'].alternate-eight { /* startfold */
    display: grid;
    justify-items: center;
    padding-bottom: 60px;

    > * {
        padding: 0 var(--narrow-padding-left);
        color: var(--color-four);
        text-align: center;
    }

    h1 {
      margin-top: 40px;
      grid-row: 2;
      grid-column: 1;
      font-size: var(--header-font-size-large);
    }
    h2 {
        display: none;
    }

    picture {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 60vh;
        padding-left: 0;
        padding-right: 0;
    }
    p {
      margin: 20px 0;
      grid-row: 3;
    }
    a {
      margin-top: 20px;
      grid-row: 4;
    }

    @media screen and (min-width: base.$notebook) {
    }
} /* endfold */
section[is='hero-section'].alternate-nine { /* startfold */
    min-height: unset;
    display: grid;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    background: linear-gradient(
      to bottom,
      var(--color-two) calc(100% - 145px),
      var(--color-one) calc(100% - 145px),
      var(--color-one) 100%,
    );

    > * {
        color: var(--color-four);
        text-align: center;
    }
    h1, p {
        padding-left: var(--narrow-padding-left);
        padding-right: var(--narrow-padding-right);
    }
    p {
        grid-row: 1;
    }
    h1 {
        grid-row: 2;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    h2 {
        display: none;
    }
    picture {
        grid-row: 3;
        width: min(80vw, 700px);
        aspect-ratio: 3/2;
    }
    a {
        display: none;
    }

    @media screen and (min-width: base.$tablet) {
      background: linear-gradient(
        to bottom,
        var(--color-two) calc(100% - 255px),
        var(--color-one) calc(100% - 255px),
        var(--color-one) 100%,
      );
    }

    @media screen and (min-width: base.$notebook) {
      padding-top: 10vh;
      padding-bottom: 10vh;
      background: linear-gradient(
        to bottom,
        var(--color-two) calc(100% - 275px),
        var(--color-one) calc(100% - 275px),
        var(--color-one) 100%,
      );
    }

    source.desktop {
      max-width: 700px;
      max-height: 470px;
    }
    source.laptop {
      max-width: 700px;
      max-height: 470px;
    }
    source.notebook {
      max-width: 700px;
      max-height: 470px;
    }
    source.tablet {
      max-width: 614px;
      max-height: 413px;
    }
    source.phone {
      max-width: 454px;
      max-height: 306px;
    }
    source.x-small {
      max-width: 454px;
      max-height: 306px;
    }

} /* endfold */
