@use "base";

:root {
    --admin-default-color: #E0E0E0;
    --admin-accent-color: #293B5F;
    --admin-selection-color: #33cc33;
}

@mixin admin-button($btn-color) {
  color: white !important;
  border: 1px solid $btn-color !important;
  text-align: center !important;
  padding: 3px 20px 5px 20px !important;
  width: fit-content !important;
  font-family: arial !important;
  font-size: 30px !important;
  background-color: $btn-color !important;
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}
text-fragment a {
    font-family: inherit;
    font-size: inherit;
    color: revert;
}

// startfold fonts
@font-face {
  font-family: 'Bangers';
  src: url("/cdn/fonts/Bangers/Bangers-Regular.ttf");
}
@font-face {
  font-family: 'Fjalla One';
  src: url("/cdn/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
@font-face {
  font-family: 'Nunito';
  src: url("/cdn/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Raleway';
  src: url("/cdn/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url("/cdn/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url("/cdn/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url("/cdn/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'Quicksand';
  src: url("/cdn/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Source Sans';
  src: url("/cdn/fonts/SourceSans/SourceSans3-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Oswald';
  src: url("/cdn/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/cdn/fonts/Noto_Serif/NotoSerif-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: 'Playfair Display';
  src: url("/cdn/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url("/cdn/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf");
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url("/cdn/fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url("/cdn/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url("/cdn/fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Yellowtail";
  src: url("/cdn/fonts/Yellowtail/Yellowtail-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/cdn/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lora";
  src: url("/cdn/fonts/Lora/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/cdn/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Merriweather Sans";
  src: url("/cdn/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Merriweather Italic";
  src: url("/cdn/fonts/Merriweather/Merriweather-Italic.ttf");
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("/cdn/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: 'Great Vibes';
  src: url("/cdn/fonts/GreatVibes/GreatVibes-Regular.ttf");
}         
@font-face {
  font-family: 'Kalnia';
  src: url("/cdn/fonts/Kalnia/Kalnia-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: 'Jost';
  src: url('/cdn/fonts/jost/Jost-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url("/cdn/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
// endfold
.admin-modal { /* startfold */
    display: grid;
    position: fixed;
    margin: auto;
    padding: 50px;
    border-radius: 12px;
    width: 800px;
}
.admin-modal details summary {
    cursor: pointer;
}
.admin-modal:has(.font-modal) {
    width: 1100px;
}
.admin-modal h2 {
  text-align: center;
  width: 100%;
  grid-row: 1;
  grid-column: 1 / span 2;
  color: var(--admin-accent-color);
}
.admin-modal h3 {
  color: var(--admin-accent-color);
}
.admin-modal p, .admin-modal li, .admin-modal blockquote, .admin-modal label, .admin-modal figcaption, .admin-modal a {
  color: black;
}
.admin-modal button {
  @include admin-button(var(--admin-accent-color));
  align-self: center;
}

.admin-modal > div, modal-content {
  grid-row: auto;
  grid-column: 1 / span 2;
  display: grid;
  gap: 25px;
  margin-bottom: 30px;
}


.admin-modal .add-section-content {
    display: grid;
}
.admin-modal .add-section-content h3 {
    margin-top: 10px;
}

.admin-modal.welcome-modal {
    width: 800px;
}

.admin-modal.welcome-modal > div {
    gap: unset;
}

.admin-modal.welcome-modal hr {
  margin: 20px 20px 30px 20px;
}

.admin-modal.welcome-modal details {
  margin: 20px;
}

.admin-modal.welcome-modal details img {
  width: 640px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.admin-modal.welcome-modal details summary::-webkit-details-marker {
  display: none;
}
.admin-modal.welcome-modal .tdw-help-menu summary {
  background-color: var(--admin-default-color);
  padding: 10px;
  border-radius: 5px;
}
.admin-modal.welcome-modal details summary {
  cursor: pointer;
}
.admin-modal.welcome-modal details summary h3 {
  display: inline;
}
.admin-modal.welcome-modal details ul {
  margin-left: 20px;
}
.admin-modal.welcome-modal details li {
  list-style: disc;
}

.admin-modal.welcome-modal ul.ai-prompt-list {
  margin-left: 20px;
}
.admin-modal.welcome-modal ul.ai-prompt-list li {
  list-style: disc;
}

.loading-modal {
    background: transparent;
    border: none;
}

.admin-modal.loading-modal img {
    width: 100px;
    margin: auto;
}

.loading-modal h2, .loading-modal button {
    display: none;
}

.admin-modal.colors-modal ol {
  padding: 20px; 
}
.admin-modal.colors-modal ol li {
  list-style: inherit;
}
.colors-modal details, .metadata-modal details, .favicon-modal details {
    margin-bottom: 20px; 
    grid-column: 1 / span 2;
}
.colors-modal summary, .metadata-modal summary, .favicon-modal summary {
  background-color: var(--admin-default-color);
  padding: 10px;
  border-radius: 5px;
}

.favicon-modal details img, .metadata-modal details img {
    height: unset;
}

.modal-content form {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
/* color modal startfold */
.modal-content .selectors {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: start;
  align-items: center;
}
.modal-content .current-palette {
  grid-row: 1;
  grid-column: 2;
}
.modal-content .prospective-palettes {
  grid-row: 2;
  grid-column: 1 / span 2;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}
.modal-content .color-palette {
  display: grid;
  height: 75px;
  width: 150px;
  border-top: gray 1px solid;
  border-bottom: gray 1px solid;
  border-left: gray 1px solid;
}
.modal-content .color-palette * {
  grid-row: 1;
  border-right: rgba(0, 0, 0, .2) 1px solid;
}
.modal-content input[type='radio'] {
  display: none;
}
.modal-content .color-palette:has(input:checked) {
  outline: 12px solid rgba(0, 255, 0, .3);
} /* endfold */
/* font modal startfold */
.admin-modal > .font-modal {
    min-width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.font-modal .font-card {
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    box-sizing: border-box;
    padding: 45px 65px 45px 30px;
    background-color: black;
}

.font-modal h3 {
    font-size: var(--header-font-size-medium);
    color: white;
}
.font-modal p {
    font-size: var(--body-font-size-medium);
    color: white;
}

.link-button-modal {
    display: grid;
}

/* endfold
/* metadata modal startfold */
.metadata-modal {
  grid-template-columns: repeat(auto, 3);
}
.metadata-modal details img {
  width: 300px;
}
.metadata-modal label {
  grid-column: 1;
}
.metadata-modal input {
  grid-column: 2;
}
.metadata-modal h3 {
  grid-column: 1 / span 3; 
  text-align: center;
}
/* endfold */
.admin-modal-action-btn {
  justify-self: center;
  width: fit-content;
  grid-column: 2;
}
.admin-modal-cancel-btn {
  justify-self: center;
  width: fit-content;
  grid-column: 1;
}
/* endfold */
.section-add-btn, .section-delete-btn, .section-up-btn, .section-down-btn, .section-next-btn, .section-prev-btn { /* startfold */
  @include admin-button(black);
  display: block !important;
  position: absolute !important;
  z-index: 9000;
  margin: 0 !important;
  grid-column: auto !important; /* Removes it from the grid */
  grid-row: auto !important;
}
.section-add-btn:hover, .section-delete-btn:hover, .section-up-btn:hover, .section-down-btn:hover, .section-next-btn:hover, .section-prev-btn:hover { /* startfold */
    z-index: 9999;
}
.section-add-btn {
    bottom: -10px;
    left: calc(50% + 50px);
}

.section-delete-btn {
    bottom: -10px;
    left: calc(50% - 100px);
}

.section-next-btn {
    /* top: calc(min(50%, 50vh) - 20px); */
    top: 200px;
    right: calc(var(--standard-padding-right) / 2);
}
.section-prev-btn {
    top: calc(min(50%, 50vh) - 20px);
    top: 200px;
    left: calc(var(--standard-padding-left) / 2);
}

.section-up-btn {
    top: 0;
    right: calc(var(--standard-padding-right) / 2);
}
.section-down-btn {
    bottom: 0;
    right: calc(var(--standard-padding-right) / 2);
}
// endfold

.list-up-btn, .list-down-btn, .list-clone-btn, .list-delete-btn {
    
    @include admin-button(var(--admin-accent-color));
    position: absolute !important;
    z-index: 9000;
}
.list-up-btn:hover, .list-down-btn:hover, .list-clone-btn:hover, .list-delete-btn:hover {
    z-index: 9999;
}
.list-up-btn {
  top: -20px !important;
  left: -20px !important;
}
.list-down-btn {
  bottom: -20px !important;
  left: -20px !important;
}
.list-clone-btn {
  bottom: -20px !important;
  right: -20px !important;
}
.list-delete-btn {
  top: -20px !important;
  right: -20px !important;
}

.admin-modal img {
    height: 100px;
    width: 150px;
    margin: 0 3px;
    box-sizing: border-box;
}
.admin-modal img.selected-preview-image, .admin-modal .selected-font-pair {
  border: 5px solid var(--brand-color);
}
#edit-image-modal-content {
    min-width: 800px;
    max-width: 100%;
}

#edit-image-modal-content form {
  grid-template-columns: auto 1fr;
  gap: 5px;
}

aside[is="admin-aside"] {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s;
    background-color: lightgray;
    box-sizing: border-box;
    padding: 25px;
    gap: 25px;
    z-index: 1000;
}
 
aside[is="admin-aside"]:hover {
    transform: translateX(0px);
}

aside[is="admin-aside"] button {
}

aside[is="admin-aside"] #aside-arrow {
  position: absolute;
  top: 0;
  right: -85px;
  font-size: 20px;
  height: 28px;
  padding: 5px;
  border-radius: 2px;
  background-color: #d3d3d3;
}

button[is="save-button"] {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
}

button[is="reset-button"] {
    position: fixed;
    bottom: 25px;
    right: 150px;
    z-index: 9999;
}

ul[is="social-media-links"]:hover {
  border: 1px solid var(--color-three);
  cursor: pointer;
}
// endfold

main:has(section:hover) section {
    opacity: .5;
}

main section:hover {
    border: 3px solid var(--admin-accent-color);
    opacity: 1 !important;
}

section:has(li[is="editable-list-item"]:hover) li[is="editable-list-item"] {
  opacity: .5;
}

section li[is="editable-list-item"]:hover {
    border: 3px solid var(--admin-default-color);
    opacity: 1 !important;
}

picture[is="editable-picture"] {
  cursor: pointer;
}

strong {
    font-weight: 900;
}

h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty, p:empty, label:empty {
    min-height: 20px;
    min-width: 50px;
    border: 1px solid var(--color-three);
}
.rich-text-option {
    font-family: Arial;
    font-size: 24px;
    position: absolute;
    top: -45px;
    height: 45px !important;
    padding: 10px 0;
    border-radius: 0;
    width: 30px !important;
    color: black;
    background-color: gainsboro;
    user-select: none;
}
/*
- bar needs drop shadow
- bar should have rounded corners
- highlight should NOT go all the way to the edges
- size-selector needs drop-shadow when active
*/
.bold-button {
    left: 0;
    width: 35px !important;
    padding-left: 10px;
    padding-right: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.italic-button {
    left: 35px;
}
.underline-button {
    left: 65px;
    text-decoration: underline;
}
.linked-button {
  left: 95px;
}

.clear-button {
  left: 125px;
  padding-right: 10px;
}

.rich-text-option[data-currently-on="true"] {
  background-color: gray;
  color: white;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

size-selector.rich-text-option {
    width: 100px !important;
    left: 155px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    height: 38px !important;
    z-index: 9999;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
size-selector > * {
    text-align: start;
    width: fit-content;
    background-color: transparent;
    padding: 0;
}
size-selector label {
    color: black;
    text-align: start;
    font-family: Arial;
}
size-selector button::selection {
    background: none;
}
size-selector[data-selected="true"] {
}
size-selector[data-selected="false"]:after {
    content: " ⮟";
    font-size: 15px;
}
size-selector[data-selected="true"]:after {
    content: ""
}

size-selector[data-selected="false"] > button {
    display: none;
}

size-selector[data-selected="true"] > button {
    display: block;
    user-select: none;
    background-color: gainsboro;
    color: black;
    width: 100%;
    height: 40px;
    padding: 10px;
    user-select: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
size-selector[data-selected="true"] > button:hover {
}
