/* we're using bootstrap breakpoints for everything:
- x-small: <576px
- small: >=576px
- medium: >=768px
- large: >= 992px
- x-large: >= 1200px
- xx-large: >= 1400px
*/

:root {
/* font defined sizes */
  body-font-size-medium: 16px;
  body-font-size-small: 14px;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
}

p {
  font-family: var(--body-font-family);
}

button {
  font-family: var(--body-font-family);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding: 12px 25px;
  border: 20px;
  outline: 20px;
  border-radius: 3px;
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

dialog img {
    width: 150px;
}
/* sections layout settings startfold */
section {
  max-width: min(1400px, 100%);
  margin: auto;
}
/* endfold */
/* typography settings startfold */
h1, .page-title {
    font-weight: 800;
    font-size: 36px;
}
h2, .page-subtitle {
    font-weight: 500;
    font-size: 30px;
}
.section-heading {
  font-weight: 500;
  font-size: 32px;
}
.callout-text {
    font-weight: 400;
    font-size: 16px;
}
.testimonial-text {
  font-size: var(--body-font-size-small);
  font-weight: 400;
  text-align: center;
}
@media (width >= 992px) {
  h1, .page-title {
    font-weight: 600;
    font-size: 128px;
  }
  h2, .page-subtitle {
    font-weight: 600;
    font-size: 64px;
  }
  .callout-text {
    font-weight: 300;
    font-size: 24px;
  }
}
/* endfold */
