:root {
  --normal-border-radius: 12px;
  --small-border-radius: 7px;
  --section-margin-bottom: 45px;
  --color-one: var(--palette-color-one);
  --color-two: var(--palette-color-two);
  --color-three: var(--palette-color-three);
  --color-four: var(--palette-color-four);
  --narrow-padding: 60px 15px;
  --standard-padding: 60px 30px;
}

@media screen and (min-width: 768px) {
  :root {
    --section-margin-bottom: 80px;
    --standard-padding: 90px 65px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-one: var(--palette-color-four);
    --color-two: var(--palette-color-three);
    --color-three: var(--palette-color-two);
    --color-four: var(--palette-color-one);
  }
}
* {
  position: relative;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--color-one);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
}

p, blockquote, label, figcaption {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-medium);
  font-weight: 300;
}

button {
  font-family: var(--body-font-family);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding: 12px 25px;
  border: 20px;
  outline: 20px;
  border-radius: 3px;
  cursor: pointer;
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

dialog img {
  width: 150px;
}

/* sections layout settings startfold */
section {
  max-width: min(1400px, 100%);
  padding: var(--standard-padding);
  margin: auto;
}

/* endfold */
/* typography settings startfold */
h1, .page-title {
  font-weight: 800;
  font-size: 36px;
}

h2 {
  font-weight: var(--header-font-weight-large);
  font-size: var(--header-font-size-large);
  text-align: center;
  margin-bottom: var(--section-margin-bottom);
  line-height: calc(var(--header-font-size-large) * 1.5);
  color: var(--color-four);
}

.callout-text {
  font-weight: 400;
  font-size: 16px;
}

.testimonial-text {
  font-size: var(--body-font-size-small);
  font-weight: 400;
  text-align: center;
}

@media (width >= 992px) {
  h1, .page-title {
    font-weight: 600;
    font-size: 128px;
  }
  h2, .page-subtitle {
    font-weight: 600;
    font-size: 64px;
  }
  .callout-text {
    font-weight: 300;
    font-size: 24px;
  }
}
/* endfold */
section[is=hero-section].default { /* startfold */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 27vh 5vh 18vh 50vh;
  justify-items: center;
  align-items: center;
}

section[is=hero-section].default > * {
  z-index: 10;
  grid-column: 1;
  text-align: center;
}

section[is=hero-section].default h1 {
  grid-row: 1;
  color: var(--color-one);
  align-self: end;
}

section[is=hero-section].default h2 {
  grid-row: 2;
  color: var(--color-one);
}

section[is=hero-section].default p {
  grid-row: 3;
  color: var(--color-one);
}

section[is=hero-section].default > a {
  grid-row: 4;
}

section[is=hero-section].default picture {
  grid-row: 1/span 4;
  z-index: 1;
}

section[is=hero-section].default picture img {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  filter: grayscale(1) brightness(75%);
}

section[is=hero-section].default picture a {
  position: absolute;
  bottom: 25px;
  right: 25px;
} /* endfold */
section[is=hero-section].left-align { /* startfold */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 27vh 5vh 18vh 50vh;
  justify-items: start;
  align-items: center;
}

section[is=hero-section].left-align > * {
  z-index: 10;
  grid-column: 1;
  text-align: start;
  margin-left: 10vw;
}

section[is=hero-section].left-align h1 {
  grid-row: 1;
  color: var(--color-one);
  align-self: end;
}

section[is=hero-section].left-align h2 {
  grid-row: 2;
  color: var(--color-one);
}

section[is=hero-section].left-align p {
  grid-row: 3;
  color: var(--color-one);
}

section[is=hero-section].left-align > a {
  grid-row: 4;
}

section[is=hero-section].left-align picture {
  grid-row: 1/span 4;
  z-index: 1;
  margin-left: 0;
}

section[is=hero-section].left-align picture img {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  filter: grayscale(1) brightness(75%);
}

section[is=hero-section].left-align picture a {
  position: absolute;
  bottom: 25px;
  right: 25px;
} /* endfold */
section[is=hours-section] ul {
  width: min(650px, 90%);
  margin: auto;
}
section[is=hours-section] p {
  font-size: var(--body-font-size-x-large);
  font-weight: 400;
  height: calc(var(--body-font-size-x-large) * 1.2);
  line-height: calc(var(--body-font-size-x-large) * 1.2);
}

section[is=hours-section].default {
  padding-bottom: 150px;
}
section[is=hours-section].default h2 {
  color: var(--color-three);
}
section[is=hours-section].default ul {
  display: grid;
  width: min(650px, 90%);
  margin: auto;
  list-style-type: none;
}
section[is=hours-section].default ul li {
  display: grid;
  grid-template-columns: 1fr auto;
}
section[is=hours-section].default ul li p {
  font-size: var(--body-font-size-small);
  font-weight: 400;
  line-height: calc(var(--body-font-size-small) * 1.5);
  color: var(--color-four);
  height: calc(var(--body-font-size-small) * 1.2);
  margin: 6px 0;
}
section[is=hours-section].default ul li p.day {
  grid-column: 1;
  display: flex;
  gap: 8px;
  margin-right: 8px;
  color: var(--color-four);
}
section[is=hours-section].default ul li p.day::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1.5px solid var(--color-four);
}
section[is=hours-section].default ul li p.time {
  grid-column: 2;
  color: var(--color-four);
}
@media (prefers-color-scheme: dark) {
  section[is=hours-section].default {
    background-color: var(--color-two);
  }
  section[is=hours-section].default h2 {
    color: var(--color-four);
  }
}
@media screen and (min-width: 768px) {
  section[is=hours-section].default ul li p {
    font-size: var(--body-font-size-x-large);
    font-weight: 400;
    margin: 12px 0;
  }
}

section[is=hours-section].alternate {
  background-color: var(--color-two);
  border-radius: var(--normal-border-radius);
  margin: 15px;
}
section[is=hours-section].alternate ul {
  display: flex;
  justify-content: center;
}
section[is=hours-section].alternate li {
  display: none;
}
section[is=hours-section].alternate li:first-of-type {
  display: flex;
  flex-direction: column;
}
section[is=hours-section].alternate li p {
  text-align: center;
  color: var(--color-four);
}
@media screen and (min-width: 768px) {
  section[is=hours-section].alternate {
    margin: 30px auto;
  }
}

section[is=contact-form-section] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: unset;
}
section[is=contact-form-section] h2 {
  margin-top: 50px;
  margin-bottom: unset;
  color: var(--color-three);
}
section[is=contact-form-section] form {
  display: grid;
  row-gap: 5px;
  margin-top: 50px;
  align-self: center;
  box-sizing: border-box;
  margin-bottom: 150px;
  width: 80%;
}
section[is=contact-form-section] form * {
  grid-column: 1;
}
section[is=contact-form-section] form label {
  z-index: 12;
  justify-self: start;
  align-self: start;
  padding-top: 5px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}
section[is=contact-form-section] form input {
  height: 50px;
}
section[is=contact-form-section] form textarea {
  height: 150px;
  resize: none;
}
section[is=contact-form-section] form input, section[is=contact-form-section] form textarea {
  border-radius: var(--small-border-radius);
  background-color: var(--color-two);
  outline: none;
  border: none;
  font-size: var(--body-font-size-small);
  font-weight: 400;
  line-height: calc(var(--body-font-size-small) * 1.5);
  color: var(--color-four);
  box-sizing: border-box;
  padding: 15px 0 0 20px;
  display: flex;
  align-content: end;
}
section[is=contact-form-section] form button {
  background-color: var(--color-three);
  color: var(--color-one);
}
section[is=contact-form-section] form label[for=name], section[is=contact-form-section] form input[name=name] {
  grid-row: 1;
}
section[is=contact-form-section] form label[for=email], section[is=contact-form-section] form input[name=email] {
  grid-row: 2;
}
section[is=contact-form-section] form label[for=message], section[is=contact-form-section] form textarea[name=message] {
  grid-row: 3;
}
section[is=contact-form-section] form textarea[name=message] {
  padding-top: 20px;
}
@media (prefers-color-scheme: dark) {
  section[is=contact-form-section] p {
    color: var(--color-four);
  }
  section[is=contact-form-section] form input, section[is=contact-form-section] form textarea {
    background-color: var(--color-four);
    color: var(--color-one);
  }
  section[is=contact-form-section] form button {
    color: var(--color-one);
  }
}
@media screen and (min-width: 768px) {
  section[is=contact-form-section] form {
    width: 650px;
    gap: 15px;
  }
  section[is=contact-form-section] form label[for=name], section[is=contact-form-section] form input[name=name] {
    grid-row: 1;
    grid-column: 1;
  }
  section[is=contact-form-section] form label[for=email], section[is=contact-form-section] form input[name=email] {
    grid-row: 1;
    grid-column: 2;
  }
  section[is=contact-form-section] form label[for=message], section[is=contact-form-section] form textarea[name=message] {
    grid-row: 2;
    grid-column: 1/span 2;
  }
  section[is=contact-form-section] form button {
    width: 60%;
    justify-self: end;
    grid-column: 2;
    border-radius: var(--small-border-radius);
  }
}

section[is=contact-form-section].default picture {
  display: none;
}

section[is=contact-form-section].alternate {
  background-color: var(--color-four);
}
section[is=contact-form-section].alternate * {
  z-index: 10;
  color: var(--color-one);
}
section[is=contact-form-section].alternate picture {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 45%;
}
section[is=contact-form-section].alternate picture img {
  height: 100%;
  width: 100%;
}
section[is=contact-form-section].alternate form input, section[is=contact-form-section].alternate form textarea {
  background-color: var(--color-one);
  color: var(--color-four);
}
section[is=contact-form-section].alternate form label {
  z-index: 12;
  color: var(--color-four);
}
section[is=contact-form-section].alternate form button {
  color: var(--color-one);
}
@media (prefers-color-scheme: dark) {
  section[is=contact-form-section].alternate {
    background-color: var(--color-one);
  }
  section[is=contact-form-section].alternate h2 {
    color: var(--color-four);
  }
  section[is=contact-form-section].alternate p {
    color: var(--color-four);
  }
  section[is=contact-form-section].alternate form label {
    color: var(--color-one);
  }
  section[is=contact-form-section].alternate form input, section[is=contact-form-section].alternate form textarea {
    background-color: var(--color-four);
    color: var(--color-one);
  }
  section[is=contact-form-section].alternate form button {
    color: var(--color-one);
  }
}

section[is=embed-section] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section[is=embed-section] iframe {
  max-width: 100%;
}
section[is=embed-section] p {
  margin-bottom: 15px;
  color: var(--color-four);
}
@media screen and (min-width: 768px) {
  section[is=embed-section] iframe {
    margin-bottom: 100px;
  }
  section[is=embed-section] p {
    margin-bottom: 35px;
  }
}

section[is=embed-section].alternate-one {
  display: grid;
  justify-items: center;
}
section[is=embed-section].alternate-one h2 {
  grid-row: 1;
}
section[is=embed-section].alternate-one iframe {
  grid-row: 3;
}
section[is=embed-section].alternate-one p {
  grid-row: 2;
}

section[is=embed-section].alternate-two p {
  display: none;
}

section[is=embed-section].alternate-three h2 {
  display: none;
}
section[is=embed-section].alternate-three p {
  display: none;
}

section[is=at-a-glance-section] ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
section[is=at-a-glance-section] li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
section[is=at-a-glance-section] picture {
  margin: auto;
  width: 33%;
}
section[is=at-a-glance-section] h3 {
  text-align: center;
  color: var(--color-three);
  font-size: var(--header-font-size-small);
}
@media screen and (min-width: 768px) {
  section[is=at-a-glance-section] ul {
    flex-direction: row;
  }
  section[is=at-a-glance-section] picture {
    width: 75%;
    margin-bottom: 20px;
  }
  section[is=at-a-glance-section] h3 {
    font-size: var(--header-font-size-medium);
  }
}

section[is=at-a-glance-section].default img {
  border-radius: 50%;
}

section[is=at-a-glance-section].alternate-one img {
  border-radius: var(--normal-border-radius);
}

section[is=at-a-glance-section].alternate-two li {
  background-color: var(--color-two);
  border-radius: var(--normal-border-radius);
  padding: 30px;
  width: 65%;
  justify-content: space-around;
}
section[is=at-a-glance-section].alternate-two picture {
  width: 65%;
  margin-bottom: 15px;
}
section[is=at-a-glance-section].alternate-two img {
  border-radius: 50%;
}
section[is=at-a-glance-section].alternate-two h3 {
  color: var(--color-four);
}
@media screen and (min-width: 768px) {
  section[is=at-a-glance-section].alternate-two li {
    padding: 30px 15px;
  }
}

/* 
- How does mobile spacing work on longer screens?
- Light mode looks very off.
*/
section[is=numbers-section] ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  height: 75vh;
}
section[is=numbers-section] li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
section[is=numbers-section] picture {
  margin: auto;
  width: 33%;
}
section[is=numbers-section] h3 {
  font-size: var(--header-font-size-x-large);
  font-weight: 800;
  color: var(--color-three);
  text-align: center;
}
section[is=numbers-section] h4 {
  text-align: center;
  color: var(--color-four);
  font-size: calc(var(--header-font-size-small) * 0.8);
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  section[is=numbers-section] ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: start;
    justify-items: center;
    height: fit-content;
  }
  section[is=numbers-section] picture {
    width: 75%;
    margin-bottom: 20px;
  }
  section[is=numbers-section] h3 {
    font-size: calc(var(--header-font-size-x-large) * 0.75);
  }
  section[is=numbers-section] h4 {
    font-size: var(--header-font-size-medium);
  }
}

section[is=numbers-section].alternate-one {
  background-color: var(--color-two);
}
section[is=numbers-section].alternate-one li {
  background-color: var(--color-one);
  border-radius: 200px;
  width: 80%;
  padding: 20px 10px;
}
@media screen and (min-width: 768px) {
  section[is=numbers-section].alternate-one li {
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  section[is=raw-heading-section].alternate-one h2 {
    text-align: start;
  }
}

section[is=raw-paragraph-section] p {
  color: var(--color-four);
}

@media screen and (min-width: 992px) {
  section[is=raw-paragraph-section].alternate-one p {
    column-count: 2;
  }
}

@media screen and (min-width: 992px) {
  section[is=raw-paragraph-section].alternate-two p {
    column-count: 3;
  }
}

/* Questions:
- No dark mode, so need manual eyeballs on all the color balance
 - This actually made it a bit faster to have "programatic dark mode"
- default
  h2:
   - margin-bottom 35px? -- nope, this is 45px
  p:
   - 60px bottom padding? -- yes, but added a min-height rule to allow for a tall section when the text is short.
   - is the left-padding/indent thing on purpose? -- yes
  button:
   - border-radius 10px? -- no, 12px
   - Is the color set right? -- yes
   - desktop padding is something like 10px 50px in the mockup, but this doesn't match the button generally. Is the mockup right? -- yes, changed alt button to match
  picture:
   - How does it scale? I coded it as "tablet and larger" scale responsively. -- this looks fine
   - It looked like it was about half of the section after accounting for padding, so I made it a square that was 50% wide. Is that right?
- alternate-one
  h3:
   - just double checking -- 200px bottom margin? -- as implemented is fine.
   - update: changed this to 1fr in the grid-template-columns. I think it resizes better.
     - also change the breakpoint to notebook on this.
  picture:
   - is the vibe here "resize to match content length?" or "keep a ~3/4 aspect ratio?"
- alternate-two:
  picture:
   - aspect ratio looks to be 12 / 7. Just double checking
   - on desktop this is really large. -- that's fine.
  button:
   - I didn't add as much top padding/margin as sort of suggested by the mockup. Wanted to double check that this was right. -- that's fine.
- alternate-three:
  picture:
   - how is this supposed to scale? What if they put lots of text? -- it scales right atm.
   - for desktop, I picked 12/7, but what if they put more text than that? -- zoom in on pic, like mobile.
   - desktop appears to use a different opacity than the mobile? I kept the vibe of mobile for both, but I can update this if desired. -- matching is good.
- alternate-four:
  - The desktop arrangement is sort of awkward with a long paragraph.  -- revisit maybe
  - note: I set notebook as the breakpoint, rather than tablet.  -- this is fine, but revisit
  - tablet arrangement is weird bc the breakpoint is set to notebook, but the h2 resizes at tablet size. Need advice here. -- this is fine.
- alternate-five:
  - has similar arrangement oddities as alternate-four (lowkey, I dig it. But it should be double-checked in the morning) -- mod'd, but fine.
- alternate-six/seven:
  h3: Is not present on mobile? -- this needs to get fixed
  picture:
   - ratio looks great, but how should it respond to very long text? (shorter text looks fine!) -- changed breakpoint
- alternate-seven:
  paragraph:
   - it looks "shorter" than on other layouts. Should it float to the top or the center? Or something else? -- nah, it's fine
*/
section[is=call-to-action-section] {
  display: flex;
  flex-direction: column;
}
section[is=call-to-action-section] h2 {
  grid-row: 1;
}
section[is=call-to-action-section] img {
  border-radius: var(--normal-border-radius);
}
section[is=call-to-action-section] h3 {
  font-size: var(--header-font-size-small);
  font-weight: 900;
  color: var(--color-three);
}
section[is=call-to-action-section] p {
  color: var(--color-four);
}
section[is=call-to-action-section] img {
  width: 100%;
  aspect-ratio: 1/1;
}
section[is=call-to-action-section] button {
  color: var(--color-one);
  background-color: var(--color-three);
  border-radius: var(--normal-border-radius);
}
@media screen and (min-width: 768px) {
  section[is=call-to-action-section] {
    display: grid;
  }
  section[is=call-to-action-section] h3 {
    font-size: calc(var(--header-font-size-medium) * 1.5);
    font-weight: 500;
  }
  section[is=call-to-action-section] p {
    font-size: var(--body-font-size-small);
  }
  section[is=call-to-action-section] button {
    padding: 10px 50px;
  }
  section[is=call-to-action-section] picture {
    width: 100%;
    aspect-ratio: 11/7;
  }
}

section[is=call-to-action-section].default picture:nth-of-type(even) {
  display: none;
}
section[is=call-to-action-section].default h3 {
  margin-top: 13px;
}
section[is=call-to-action-section].default p {
  padding: 20px 0 60px 20px;
  min-height: 250px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  section[is=call-to-action-section].default {
    column-gap: 10%;
    padding-right: 120px;
    padding-left: 120px;
    box-sizing: border-box;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 1fr;
  }
  section[is=call-to-action-section].default h2 {
    grid-column: 1/span 2;
  }
  section[is=call-to-action-section].default h3 {
    margin: 0 0 50px 0;
    grid-column: 2;
    grid-row: 2;
  }
  section[is=call-to-action-section].default picture:first-of-type {
    grid-column: 1;
    grid-row: 2/span 3;
    width: 100%;
    aspect-ratio: 1/1;
  }
  section[is=call-to-action-section].default picture:first-of-type img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  section[is=call-to-action-section].default p {
    padding: 0;
  }
}

section[is=call-to-action-section].alternate-one picture:nth-of-type(even) {
  display: none;
}
section[is=call-to-action-section].alternate-one h3 {
  margin-top: 35px;
}
section[is=call-to-action-section].alternate-one p {
  margin-bottom: 60px;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  section[is=call-to-action-section].alternate-one {
    column-gap: 10%;
    padding-right: 120px;
    padding-left: 120px;
    box-sizing: border-box;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr 1fr;
  }
  section[is=call-to-action-section].alternate-one h2 {
    grid-column: 1/span 2;
  }
  section[is=call-to-action-section].alternate-one h3 {
    grid-column: 2;
    grid-row: 2;
  }
  section[is=call-to-action-section].alternate-one picture:first-of-type {
    grid-column: 1;
    grid-row: 2/span 3;
    width: 100%;
  }
  section[is=call-to-action-section].alternate-one picture:first-of-type img {
    width: 100%;
    aspect-ratio: 11/14;
  }
  section[is=call-to-action-section].alternate-one p {
    padding: 0;
  }
}

section[is=call-to-action-section].alternate-two {
  align-content: center;
}
section[is=call-to-action-section].alternate-two picture {
  width: 100%;
}
section[is=call-to-action-section].alternate-two picture img {
  width: 100%;
  aspect-ratio: 12/7;
}
section[is=call-to-action-section].alternate-two picture:nth-of-type(even) {
  display: none;
}
section[is=call-to-action-section].alternate-two h3 {
  margin: 15px 0;
  text-align: center;
}
section[is=call-to-action-section].alternate-two p {
  margin-bottom: 60px;
  font-weight: 300;
  text-align: center;
}
section[is=call-to-action-section].alternate-two button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  section[is=call-to-action-section].alternate-two h2 {
    margin-bottom: 90px;
  }
  section[is=call-to-action-section].alternate-two h3 {
    margin-top: 35px;
    margin-bottom: 60px;
  }
  section[is=call-to-action-section].alternate-two p {
    text-align: start;
    width: 85%;
    justify-self: center;
  }
  section[is=call-to-action-section].alternate-two a {
    justify-self: center;
    width: unset;
  }
}

section[is=call-to-action-section].alternate-three {
  display: grid;
  grid-template-columns: 100%;
  padding: unset;
  justify-items: center;
  align-items: center;
}
section[is=call-to-action-section].alternate-three > * {
  grid-column: 1;
  position: relative;
  z-index: 10;
  text-align: center;
  max-width: calc(100% - 30px);
}
section[is=call-to-action-section].alternate-three h2 {
  margin-top: 25px;
}
section[is=call-to-action-section].alternate-three picture:first-of-type {
  grid-row: 2/span 3;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: unset;
}
section[is=call-to-action-section].alternate-three picture:first-of-type img {
  width: 100%;
  height: 100%;
  opacity: 35%;
}
section[is=call-to-action-section].alternate-three picture:nth-of-type(even) {
  display: none;
}
section[is=call-to-action-section].alternate-three h3 {
  grid-row: 2;
  margin: 50px 0;
  font-size: calc(var(--header-font-size-small) * 1.2);
  font-weight: 900;
}
section[is=call-to-action-section].alternate-three p {
  grid-row: 3;
  margin-bottom: 60px;
  font-weight: 500;
}
section[is=call-to-action-section].alternate-three a {
  grid-row: 4;
  margin-bottom: 40px;
}
section[is=call-to-action-section].alternate-three a button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  section[is=call-to-action-section].alternate-three > * {
    max-width: 60%;
  }
  section[is=call-to-action-section].alternate-three h3 {
    font-size: calc(var(--header-font-size-medium) * 1.5);
    font-weight: 500;
  }
  section[is=call-to-action-section].alternate-three picture {
    height: unset;
    max-width: unset;
  }
  section[is=call-to-action-section].alternate-three img {
    height: unset;
    aspect-ratio: 12/7;
  }
  section[is=call-to-action-section].alternate-three button {
    width: unset;
  }
}

section[is=call-to-action-section].alternate-four {
  display: grid;
  row-gap: 10px;
  grid-template-columns: calc(var(--header-font-size-large) * 2) 1fr;
}
section[is=call-to-action-section].alternate-four * {
  grid-column: 1/span 2;
}
section[is=call-to-action-section].alternate-four h2 {
  grid-column: 1;
  grid-row: 3;
  transform: rotate(-90deg);
  text-wrap: nowrap;
  aspect-ratio: 1/1;
  min-height: 100%;
  text-align: center;
  width: fit-content;
}
section[is=call-to-action-section].alternate-four h3 {
  grid-column: 2;
  color: var(--color-three);
}
section[is=call-to-action-section].alternate-four p {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
}
section[is=call-to-action-section].alternate-four picture:first-of-type img {
  aspect-ratio: 12/7;
}
section[is=call-to-action-section].alternate-four picture:nth-of-type(even) img {
  aspect-ratio: 11/14;
}
section[is=call-to-action-section].alternate-four button {
  width: 100%;
  margin: 25px 0;
}
@media screen and (min-width: 992px) {
  section[is=call-to-action-section].alternate-four {
    grid-template-columns: 1fr calc(var(--header-font-size-large) * 3) 1fr;
  }
  section[is=call-to-action-section].alternate-four * {
    grid-column: 3;
  }
  section[is=call-to-action-section].alternate-four h2 {
    grid-column: 2;
    grid-row: 1/span 4;
    margin-left: calc(var(--header-font-size-large) * 0.75);
  }
  section[is=call-to-action-section].alternate-four h3 {
    grid-column: 3;
    grid-row: 1;
  }
  section[is=call-to-action-section].alternate-four p {
    grid-column: 3;
    grid-row: 2;
    font-weight: 300;
  }
  section[is=call-to-action-section].alternate-four a {
    grid-column: 3;
    grid-row: 3;
  }
  section[is=call-to-action-section].alternate-four button {
    width: unset;
  }
  section[is=call-to-action-section].alternate-four picture:nth-of-type(even) {
    grid-column: 1;
    grid-row: 1/span 4;
  }
}

section[is=call-to-action-section].alternate-five {
  display: grid;
  row-gap: 10px;
  grid-template-columns: calc(var(--header-font-size-large) * 2) 1fr;
}
section[is=call-to-action-section].alternate-five * {
  grid-column: 1/span 2;
}
section[is=call-to-action-section].alternate-five h2 {
  grid-column: 1;
  grid-row: 3;
  transform: rotate(-90deg);
  text-wrap: nowrap;
  aspect-ratio: 1/1;
  min-height: 100%;
  text-align: center;
  width: fit-content;
}
section[is=call-to-action-section].alternate-five h3 {
  grid-column: 2;
  color: var(--color-three);
}
section[is=call-to-action-section].alternate-five p {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
}
section[is=call-to-action-section].alternate-five picture:first-of-type img {
  aspect-ratio: 12/7;
}
section[is=call-to-action-section].alternate-five picture:nth-of-type(even) img {
  aspect-ratio: 12/7;
}
section[is=call-to-action-section].alternate-five button {
  width: 100%;
  margin: 25px 0;
}
@media screen and (min-width: 992px) {
  section[is=call-to-action-section].alternate-five {
    grid-template-columns: calc(var(--header-font-size-large) * 3) 1fr 1fr;
    column-gap: 5%;
  }
  section[is=call-to-action-section].alternate-five * {
    grid-column: 2;
  }
  section[is=call-to-action-section].alternate-five h2 {
    grid-column: 1;
    grid-row: 1/span 4;
    margin-left: calc(var(--header-font-size-large) * 0.75);
  }
  section[is=call-to-action-section].alternate-five h3 {
    grid-column: 2;
    grid-row: 1;
  }
  section[is=call-to-action-section].alternate-five p {
    grid-column: 2;
    grid-row: 2/span 2;
  }
  section[is=call-to-action-section].alternate-five a {
    grid-column: 2;
    grid-row: 4;
  }
  section[is=call-to-action-section].alternate-five button {
    width: unset;
    align-self: end;
  }
  section[is=call-to-action-section].alternate-five img {
    width: 100%;
    height: 100%;
  }
  section[is=call-to-action-section].alternate-five picture:first-of-type {
    grid-column: 3;
    grid-row: 3/span 2;
    aspect-ratio: unset;
    width: 100%;
    height: 100%;
  }
  section[is=call-to-action-section].alternate-five picture:nth-of-type(even) {
    grid-column: 3;
    grid-row: 1/span 2;
    aspect-ratio: unset;
    width: 100%;
    height: 100%;
  }
}

section[is=call-to-action-section].alternate-six {
  gap: 30px;
}
section[is=call-to-action-section].alternate-six h2 {
  margin-bottom: 5px;
}
section[is=call-to-action-section].alternate-six h3 {
  display: none;
}
section[is=call-to-action-section].alternate-six p {
  font-size: var(--body-font-size-small);
  font-weight: 300;
}
section[is=call-to-action-section].alternate-six picture:first-of-type {
  width: 100%;
}
section[is=call-to-action-section].alternate-six picture:first-of-type img {
  width: 100%;
  aspect-ratio: 12/7;
}
section[is=call-to-action-section].alternate-six picture:nth-of-type(even) {
  width: 100%;
}
section[is=call-to-action-section].alternate-six picture:nth-of-type(even) img {
  width: 100%;
  aspect-ratio: 11/14;
}
section[is=call-to-action-section].alternate-six button {
  width: 100%;
}
@media screen and (min-width: 992px) {
  section[is=call-to-action-section].alternate-six {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    column-gap: 5%;
  }
  section[is=call-to-action-section].alternate-six * {
    grid-column: 2;
  }
  section[is=call-to-action-section].alternate-six h2 {
    grid-column: 1/span 2;
  }
  section[is=call-to-action-section].alternate-six h3 {
    display: block;
    grid-row: 2;
  }
  section[is=call-to-action-section].alternate-six p {
    grid-row: 3;
  }
  section[is=call-to-action-section].alternate-six a {
    grid-row: 4;
  }
  section[is=call-to-action-section].alternate-six button {
    width: unset;
  }
  section[is=call-to-action-section].alternate-six picture:nth-of-type(even) {
    grid-column: 1;
    grid-row: 2/span 4;
  }
}

section[is=call-to-action-section].alternate-seven {
  gap: 30px;
}
section[is=call-to-action-section].alternate-seven h2 {
  margin-bottom: 15px;
}
section[is=call-to-action-section].alternate-seven h3 {
  display: none;
}
section[is=call-to-action-section].alternate-seven p {
  font-size: var(--body-font-size-small);
  font-weight: 300;
}
section[is=call-to-action-section].alternate-seven picture {
  width: 100%;
}
section[is=call-to-action-section].alternate-seven picture img {
  width: 100%;
  aspect-ratio: 12/7;
}
section[is=call-to-action-section].alternate-seven button {
  width: 100%;
}
@media screen and (min-width: 992px) {
  section[is=call-to-action-section].alternate-seven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: unset;
    column-gap: 5%;
  }
  section[is=call-to-action-section].alternate-seven h2 {
    grid-column: 1/span 2;
    margin-bottom: 45px;
  }
  section[is=call-to-action-section].alternate-seven h3 {
    display: block;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 30px;
  }
  section[is=call-to-action-section].alternate-seven p {
    grid-column: 2;
    grid-row: 3/span 2;
    margin-bottom: 30px;
  }
  section[is=call-to-action-section].alternate-seven a {
    grid-column: 2;
    grid-row: 5;
  }
  section[is=call-to-action-section].alternate-seven button {
    width: unset;
  }
  section[is=call-to-action-section].alternate-seven picture:first-of-type {
    grid-column: 1;
    grid-row: 2/span 2;
  }
  section[is=call-to-action-section].alternate-seven picture:nth-of-type(even) {
    grid-column: 1;
    grid-row: 4/span 2;
    align-self: end;
    display: grid;
    align-items: end;
  }
}

section[is=testimonials-section] {
  display: grid;
  justify-items: center;
  padding: var(--narrow-padding);
}
section[is=testimonials-section] > * {
  grid-column: 1;
}
section[is=testimonials-section] h2 {
  padding-left: 15px;
  justify-self: start;
}
section[is=testimonials-section] ul {
  grid-row: 2;
  align-self: start;
  height: 80%;
  position: relative;
}
section[is=testimonials-section] ul li.testimonials-content {
  display: none;
}
section[is=testimonials-section] ul li.testimonials-content.focus {
  display: grid;
}
section[is=testimonials-section] blockquote::before {
  content: '"';
}
section[is=testimonials-section] blockquote::after {
  content: '"';
}
section[is=testimonials-section] button {
  min-width: unset;
  width: 15px;
  height: 35px;
  padding: unset;
  background: none;
}
section[is=testimonials-section].default li.testimonials-content {
  list-style-type: none;
  background-color: var(--color-two);
  border-radius: var(--normal-border-radius);
  padding: 30px 20px 25px 20px;
  max-width: 486px;
}
section[is=testimonials-section].default blockquote.testimonial-text {
  font-size: var(--body-font-size-small);
  font-weight: 400;
  line-height: calc(var(--body-font-size-small) * 1.5);
  color: var(--color-four);
}
section[is=testimonials-section].default figcaption.testimonial-attribution {
  text-align: center;
  font-size: var(--body-font-size-small);
  font-weight: 700;
  padding: 20px;
}
section[is=testimonials-section].default ul object {
  width: 100px;
  justify-self: center;
}
section[is=testimonials-section].default svg {
  justify-self: center;
  width: 100px;
}
section[is=testimonials-section].default svg path {
  fill: var(--color-three);
}
section[is=testimonials-section].default button {
  grid-row: 3;
  margin: 50px 15px 0 15px;
}
section[is=testimonials-section].default button > object {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].default button > svg {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].default button > svg path {
  fill: var(--color-three);
  stroke: var(--color-three);
}
section[is=testimonials-section].default .previous-button {
  justify-self: start;
}
section[is=testimonials-section].default .next-button {
  justify-self: end;
}
section[is=testimonials-section].default .testimonials-attribution-picture {
  display: none;
}
@media (prefers-color-scheme: dark) {
  section[is=testimonials-section].default li.testimonials-content {
    background-color: var(--color-three);
  }
  section[is=testimonials-section].default blockquote.testimonial-text {
    color: var(--color-one);
  }
  section[is=testimonials-section].default svg path {
    fill: var(--color-two);
  }
  section[is=testimonials-section].default button > svg path {
    fill: var(--color-four);
    stroke: var(--color-four);
  }
}
@media screen and (min-width: 992px) {
  section[is=testimonials-section].default ul.testimonials {
    grid-row: 2;
    grid-column: 2;
    display: grid;
  }
  section[is=testimonials-section].default li.testimonials-content {
    display: none;
    grid-column: 1;
    grid-row: 1;
  }
  section[is=testimonials-section].default li.testimonials-content.previous {
    display: grid;
    opacity: 60%;
    transform: scale(0.65) translateX(-70%);
    z-index: 1;
  }
  section[is=testimonials-section].default li.testimonials-content.focus {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
  }
  section[is=testimonials-section].default li.testimonials-content.next {
    display: grid;
    opacity: 60%;
    transform: scale(0.65) translateX(70%);
    z-index: 1;
  }
  section[is=testimonials-section].default h2 {
    grid-column: 1/span 3;
  }
  section[is=testimonials-section].default button {
    grid-row: 2;
    margin: unset;
    align-self: center;
  }
  section[is=testimonials-section].default .previous-button {
    grid-column: 1;
    justify-self: center;
  }
  section[is=testimonials-section].default .next-button {
    grid-column: 3;
    justify-self: center;
  }
}

section[is=testimonials-section].alternate-one li.testimonials-content {
  list-style-type: none;
  background-color: var(--color-two);
  border-radius: var(--normal-border-radius);
  padding: 0 20px 25px 20px;
  max-width: 486px;
}
section[is=testimonials-section].alternate-one blockquote.testimonial-text {
  font-size: var(--body-font-size-small);
  font-weight: 400;
  line-height: calc(var(--body-font-size-small) * 1.5);
  color: var(--color-four);
  margin-top: -25px;
}
section[is=testimonials-section].alternate-one figcaption.testimonial-attribution {
  text-align: center;
  font-size: var(--body-font-size-small);
  font-weight: 700;
  padding: 20px;
}
section[is=testimonials-section].alternate-one ul object {
  width: 100px;
  justify-self: center;
}
section[is=testimonials-section].alternate-one svg {
  justify-self: center;
  width: 100px;
}
section[is=testimonials-section].alternate-one svg path {
  fill: var(--color-three);
}
section[is=testimonials-section].alternate-one button {
  grid-row: 3;
  margin: 50px 15px 0 15px;
}
section[is=testimonials-section].alternate-one button > object {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].alternate-one button > svg {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].alternate-one button > svg path {
  fill: var(--color-three);
  stroke: var(--color-three);
}
section[is=testimonials-section].alternate-one .previous-button {
  justify-self: start;
}
section[is=testimonials-section].alternate-one .next-button {
  justify-self: end;
}
section[is=testimonials-section].alternate-one .testimonials-attribution-picture {
  justify-self: center;
  transform: translateY(-50%);
  display: block;
  margin: auto;
  width: 100px;
  aspect-ratio: 1/1;
  border: solid 4px var(--color-one);
  border-radius: 50%;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  section[is=testimonials-section].alternate-one li.testimonials-content {
    background-color: var(--color-three);
  }
  section[is=testimonials-section].alternate-one blockquote.testimonial-text {
    color: var(--color-one);
  }
  section[is=testimonials-section].alternate-one svg path {
    fill: var(--color-two);
  }
  section[is=testimonials-section].alternate-one button > svg path {
    fill: var(--color-four);
    stroke: var(--color-four);
  }
  section[is=testimonials-section].alternate-one .testimonials-attribution-picture {
    border: solid 4px var(--color-four);
  }
}
@media screen and (min-width: 992px) {
  section[is=testimonials-section].alternate-one ul.testimonials {
    grid-row: 2;
    grid-column: 2;
    display: grid;
  }
  section[is=testimonials-section].alternate-one li.testimonials-content {
    display: none;
    grid-column: 1;
    grid-row: 1;
  }
  section[is=testimonials-section].alternate-one li.testimonials-content.previous {
    display: grid;
    opacity: 60%;
    transform: scale(0.65) translateX(-70%);
    z-index: 1;
  }
  section[is=testimonials-section].alternate-one li.testimonials-content.focus {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
  }
  section[is=testimonials-section].alternate-one li.testimonials-content.next {
    display: grid;
    opacity: 60%;
    transform: scale(0.65) translateX(70%);
    z-index: 1;
  }
  section[is=testimonials-section].alternate-one h2 {
    grid-column: 1/span 3;
  }
  section[is=testimonials-section].alternate-one button {
    grid-row: 2;
    margin: unset;
    align-self: center;
  }
  section[is=testimonials-section].alternate-one .previous-button {
    grid-column: 1;
    justify-self: center;
  }
  section[is=testimonials-section].alternate-one .next-button {
    grid-column: 3;
    justify-self: center;
  }
  section[is=testimonials-section].alternate-one .testimonials-attribution-picture {
    width: 146px;
  }
}

section[is=testimonials-section].alternate-two {
  /* Adjust direction as needed. For a horizontal band, use "to right" or "to left". */
  background: linear-gradient(to bottom, transparent 225px, var(--color-two) 225px, var(--color-two) calc(100% - 175px), transparent calc(100% - 175px));
}
section[is=testimonials-section].alternate-two ul.testimonials {
  margin-top: 30px;
}
section[is=testimonials-section].alternate-two li.testimonials-content {
  list-style-type: none;
  background-color: var(--color-three);
  border-radius: var(--normal-border-radius);
  padding: 0 20px 25px 20px;
  max-width: 486px;
  justify-items: start;
}
section[is=testimonials-section].alternate-two blockquote.testimonial-text::before {
  content: unset;
}
section[is=testimonials-section].alternate-two blockquote.testimonial-text::after {
  content: unset;
}
section[is=testimonials-section].alternate-two blockquote.testimonial-text {
  font-size: var(--body-font-size-small);
  font-weight: 400;
  line-height: calc(var(--body-font-size-small) * 1.5);
  color: var(--color-four);
  margin-top: -25px;
  text-align: left;
  color: var(--color-one);
}
section[is=testimonials-section].alternate-two figcaption.testimonial-attribution {
  text-align: left;
  font-size: var(--body-font-size-small);
  font-weight: 700;
  padding: 20px 0;
  color: var(--color-one);
}
section[is=testimonials-section].alternate-two ul object {
  width: 100px;
  justify-self: start;
}
section[is=testimonials-section].alternate-two svg {
  justify-self: start;
  width: 100px;
}
section[is=testimonials-section].alternate-two svg path {
  fill: var(--color-one);
}
section[is=testimonials-section].alternate-two button {
  grid-row: 3;
  margin: 50px 15px 0 15px;
}
section[is=testimonials-section].alternate-two button > object {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].alternate-two button > svg {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].alternate-two button > svg path {
  fill: var(--color-three);
  stroke: var(--color-three);
}
section[is=testimonials-section].alternate-two .previous-button {
  justify-self: start;
}
section[is=testimonials-section].alternate-two .next-button {
  justify-self: end;
}
section[is=testimonials-section].alternate-two .testimonials-attribution-picture {
  justify-self: start;
  transform: translateY(-50%);
  display: block;
  width: 100px;
  aspect-ratio: 1/1;
  border: solid 4px var(--color-one);
  border-radius: 50%;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  section[is=testimonials-section].alternate-two li.testimonials-content {
    background-color: var(--color-three);
  }
  section[is=testimonials-section].alternate-two blockquote.testimonial-text {
    color: var(--color-one);
  }
  section[is=testimonials-section].alternate-two svg path {
    fill: var(--color-two);
  }
  section[is=testimonials-section].alternate-two button > svg path {
    fill: var(--color-four);
    stroke: var(--color-four);
  }
  section[is=testimonials-section].alternate-two .testimonials-attribution-picture {
    border: solid 4px var(--color-four);
  }
}
@media screen and (min-width: 768px) {
  section[is=testimonials-section].alternate-two {
    background: linear-gradient(to bottom, transparent 300px, var(--color-two) 300px, var(--color-two) calc(100% - 175px), transparent calc(100% - 175px));
  }
}
@media screen and (min-width: 992px) {
  section[is=testimonials-section].alternate-two {
    background: linear-gradient(to bottom, transparent 325px, var(--color-three) 325px);
  }
  section[is=testimonials-section].alternate-two ul.testimonials {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(30%, 3);
    justify-items: center;
    gap: 3%;
    margin: 0 2% 150px 2%;
  }
  section[is=testimonials-section].alternate-two li.testimonials-content {
    display: none;
    grid-row: 1;
    background-color: var(--color-two);
  }
  section[is=testimonials-section].alternate-two li.testimonials-content.previous {
    display: grid;
    grid-column: 1;
  }
  section[is=testimonials-section].alternate-two li.testimonials-content.focus {
    display: grid;
    grid-column: 2;
  }
  section[is=testimonials-section].alternate-two li.testimonials-content.next {
    display: grid;
    grid-column: 3;
  }
  section[is=testimonials-section].alternate-two blockquote.testimonial-text {
    color: var(--color-four);
  }
  section[is=testimonials-section].alternate-two figcaption.testimonial-attribution {
    color: var(--color-four);
  }
  section[is=testimonials-section].alternate-two svg path {
    fill: var(--color-four);
  }
  section[is=testimonials-section].alternate-two h2 {
    grid-column: 1/span 3;
  }
  section[is=testimonials-section].alternate-two button {
    grid-row: 2;
    margin: unset;
    align-self: center;
  }
  section[is=testimonials-section].alternate-two button svg path {
    fill: var(--color-one);
    stroke: var(--color-one);
  }
  section[is=testimonials-section].alternate-two .previous-button {
    grid-column: 1;
    justify-self: center;
  }
  section[is=testimonials-section].alternate-two .next-button {
    grid-column: 3;
    justify-self: center;
  }
  section[is=testimonials-section].alternate-two .testimonials-attribution-picture {
    width: 146px;
  }
}

section[is=testimonials-section].alternate-four li.testimonials-content {
  list-style-type: none;
  background-color: var(--color-two);
  border-radius: var(--normal-border-radius);
  max-width: 486px;
  justify-items: center;
  padding: 20px 20px 25px 20px;
}
section[is=testimonials-section].alternate-four blockquote.testimonial-text::before {
  content: unset;
}
section[is=testimonials-section].alternate-four blockquote.testimonial-text::after {
  content: unset;
}
section[is=testimonials-section].alternate-four blockquote.testimonial-text {
  font-size: var(--body-font-size-small);
  font-weight: 400;
  line-height: calc(var(--body-font-size-small) * 1.5);
  color: var(--color-four);
  text-align: left;
}
section[is=testimonials-section].alternate-four figcaption.testimonial-attribution {
  text-align: left;
  font-size: var(--body-font-size-small);
  font-weight: 700;
  padding: 20px 0;
}
section[is=testimonials-section].alternate-four ul object {
  width: 100px;
  justify-self: start;
}
section[is=testimonials-section].alternate-four svg {
  justify-self: start;
  width: 100px;
}
section[is=testimonials-section].alternate-four svg path {
  fill: var(--color-four);
}
section[is=testimonials-section].alternate-four button {
  grid-row: 3;
  margin: 50px 15px 0 15px;
}
section[is=testimonials-section].alternate-four button > object {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].alternate-four button > svg {
  width: 100%;
  height: 100%;
}
section[is=testimonials-section].alternate-four button > svg path {
  fill: var(--color-three);
  stroke: var(--color-three);
}
section[is=testimonials-section].alternate-four .previous-button {
  justify-self: start;
}
section[is=testimonials-section].alternate-four .next-button {
  justify-self: end;
}
section[is=testimonials-section].alternate-four .testimonials-attribution-picture {
  display: none;
}
@media (prefers-color-scheme: dark) {
  section[is=testimonials-section].alternate-four li.testimonials-content {
    background-color: var(--color-three);
  }
  section[is=testimonials-section].alternate-four blockquote.testimonial-text {
    color: var(--color-one);
  }
  section[is=testimonials-section].alternate-four svg path {
    fill: var(--color-two);
  }
  section[is=testimonials-section].alternate-four button > svg path {
    fill: var(--color-four);
    stroke: var(--color-four);
  }
}
@media screen and (min-width: 768px) {
  section[is=testimonials-section].alternate-four {
    background: linear-gradient(to bottom, transparent 300px, var(--color-two) 300px, var(--color-two) calc(100% - 175px), transparent calc(100% - 175px));
  }
}
@media screen and (min-width: 992px) {
  section[is=testimonials-section].alternate-four {
    background: linear-gradient(to bottom, transparent 325px, var(--color-three) 325px);
  }
  section[is=testimonials-section].alternate-four ul.testimonials {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(30%, 3);
    justify-items: center;
    gap: 3%;
    margin: 0 2% 150px 2%;
  }
  section[is=testimonials-section].alternate-four li.testimonials-content {
    display: none;
    grid-row: 1;
    background-color: var(--color-two);
  }
  section[is=testimonials-section].alternate-four li.testimonials-content.previous {
    display: grid;
    grid-column: 1;
  }
  section[is=testimonials-section].alternate-four li.testimonials-content.focus {
    display: grid;
    grid-column: 2;
  }
  section[is=testimonials-section].alternate-four li.testimonials-content.next {
    display: grid;
    grid-column: 3;
  }
  section[is=testimonials-section].alternate-four blockquote.testimonial-text {
    color: var(--color-four);
  }
  section[is=testimonials-section].alternate-four figcaption.testimonial-attribution {
    color: var(--color-four);
  }
  section[is=testimonials-section].alternate-four svg path {
    fill: var(--color-four);
  }
  section[is=testimonials-section].alternate-four h2 {
    grid-column: 1/span 3;
  }
  section[is=testimonials-section].alternate-four button {
    grid-row: 2;
    margin: unset;
    align-self: center;
  }
  section[is=testimonials-section].alternate-four button svg path {
    fill: var(--color-one);
    stroke: var(--color-one);
  }
  section[is=testimonials-section].alternate-four .previous-button {
    grid-column: 1;
    justify-self: center;
  }
  section[is=testimonials-section].alternate-four .next-button {
    grid-column: 3;
    justify-self: center;
  }
}

section[is=faqs-section] {
  background-color: var(--color-one);
}
section[is=faqs-section] ul.faqs {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
section[is=faqs-section] ul.faqs li.faq-list-item {
  width: 100%;
}
section[is=faqs-section] ul.faqs li.faq-list-item details.faq-container summary.question::-webkit-details-marker {
  display: none;
}
section[is=faqs-section] ul.faqs li.faq-list-item details.faq-container summary.question {
  padding: 8px 10px;
  list-style: none;
  border: solid var(--color-three) 1px;
  border-radius: var(--small-border-radius);
}
section[is=faqs-section] ul.faqs li.faq-list-item details.faq-container summary.question h3.question-text {
  font-size: calc(var(--header-font-size-small) * 0.8);
  font-weight: 600;
}
section[is=faqs-section] ul.faqs li.faq-list-item details.faq-container p.answer {
  padding: 10px 8px;
  font-size: var(--body-font-size-small);
  font-weight: 400;
  line-height: calc(var(--body-font-size-small) * 1.5);
  color: var(--color-four);
}
@media screen and (min-width: 1200px) {
  section[is=faqs-section] ul.faqs {
    width: 65%;
    margin: auto;
  }
}

section[is=faqs-section].default h3.question-text {
  color: var(--color-three);
}

section[is=faqs-section].alternate summary.question {
  background-color: var(--color-three);
}

section[is=faqs-section].alternate h3.question-text {
  color: var(--color-one);
}

@media (prefers-color-scheme: dark) {
  section[is=faqs-section].alternate ul.faqs li.faq-list-item details.faq-container summary.question {
    border-color: var(--color-two);
    background-color: var(--color-two);
  }
  section[is=faqs-section].alternate h3.question-text {
    color: var(--color-four);
  }
}

/*# sourceMappingURL=styles.css.map */
